/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./1-timer.css');
@import url('./vite-promo.css');
@import url('./2-snackbar.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.main-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 48px;
  padding-top: 100px;
  margin-bottom: 80px;
}

.go-home,
.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #4e75ff;
  color: white;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #6c8cff;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}